#shop {
    margin-top: 30px;
}



.demo-card-wide.mdl-card {
    width: 350px;
    margin: 10px 20px;
}

.demo-card-wide>.mdl-card__title {
    color: #fff;
    height: 176px;
    background: url('../assets/demos/welcome_card.jpg') center / cover;
}

.demo-card-wide>.mdl-card__menu {
    color: #fff;
}
